/* Rodape styles */
footer {
  height: 10%;
  background-color: #3E2723;
  color: white;
  margin: 1.5% 2.8%;
  font-weight: 100;
  border-radius: 1%;
  p {
    text-align: center;
    padding: 3vh;
    margin: 0;
  }
}
