/* Rodape styles */
footer {
  bottom: 0;
  max-width: 80%;
  margin: 0 10% 10px;
  padding: 0;
}
footer div {
  border-radius: 4px;
  background-color: #3E2723;
}
p {
  padding: 1vh;
  text-align: center;
}
