<app-navbar></app-navbar>
<div class="about">
  <div class="white-block">
    <h1>Dreamity</h1>
    <details><summary>English Explanation</summary>

      <h2 class="title">Idea</h2>
      <p>This project was created based on a dream,
          the dream of people sharing their dreams, to others minds.
      </p>
      <h2 class="title">Mission</h2>
      <p>The mission is mainly give a way to people share what they has dreamed
          sleeping or not.
        The dreamer create your account and go customize own profile.
        After that, can write their dreams in post style, being able to add background to post.
        Other dreamers reading this dream can demonstrate simple opinions with a slider Well Imagined Dream -> Can Be Realized.
        Or with possibly complex comments using text.
      </p>
      <h2 class="title">Technologies</h2>
      <p>The great use of <a target="_blank" href="http://angular.io">Angular</a> framework is a knowledge increased in this development.
        The <a target="_blank" href="http://sass-lang.com/documentation/file.SCSS_FOR_SASS_USERS.html">SCSS</a> is a CSS preprocessor that optimizes the writing of all this design.
      </p>

    </details>
      <h2 class="title">Ideia</h2>
      <p>Este projeto foi criado baseado em um sonho,
          o sonho de pessoas compartilharem seus sonhos, com outras mentes.
      </p>
      <h2 class="title">Missão</h2>
      <p>A missão é principalmente oferecer uma forma de pessoas compartilharem o que tem sonhado, dormindo ou não.
        O sonhador cria sua conta e customizará seu perfil.
        Após isso, pode escrever seus sonhos em estilo de post, podendo adicionar imagem de fundo.
        Outros sonhadores ao lerem este sonho, podem demonstrar simples opiniões com um slider de Sonho Bem Imaginado -> Pode Ser Realizado.
        Ou com comentários possivelmente complexos usando texto.
      </p>
      <h2 class="title">Tecnologias</h2>
      <p>O bom uso do framework <a target="_blank" href="http://angular.io">Angular</a> é um conhecimento aprimorado neste desenvolvimento.
        O <a target="_blank" href="http://sass-lang.com/documentation/file.SCSS_FOR_SASS_USERS.html">SCSS</a> é um pré processador de CSS que otimiza a escrita de todo esse design.
      </p>
  </div>
</div>
