<div class="login">
  <p *ngIf="errorMessage.length > 0" class="error">
    {{ errorMessage }}
  </p>
  <form (ngSubmit)="isNewUser ? onSignUp() : onLoginEmail()">
    <label *ngIf="isNewUser">Username</label>
    <input type="text" name="username" *ngIf="isNewUser"
      [(ngModel)]="acc.username"
      placeholder="Digite username">
    <label>Email</label>
    <input type="email" name="email"
      [(ngModel)]="acc.email"
      placeholder="Digite email">
    <label>Senha</label>
    <input type="password" name="password"
      [(ngModel)]="acc.password"
      placeholder="Digite senha">
    <button type="submit" name="enter">
      {{ isNewUser ? 'Registrar' : 'Entrar' }}
    </button>
    <h4 (click)="turnNew()">
      {{ isNewUser ? 'Já tem uma conta? >> Entrar' :
        'Não tem conta ainda? >> Registrar' }}
    </h4>
  </form>
  <button (click)="login('git')">Entrar com GitHub</button>
</div>
