<app-navbar></app-navbar>
<div class="login">
  <p *ngIf="errorMessage.length > 0">
    {{ errorMessage }}
  </p>
  <p *ngIf="error.message.length > 0">
    {{ error.message }}
  </p>
  <form (ngSubmit)="isNewUser ? onSignUp() : onLoginEmail()">
    <input type="text" name="username" *ngIf="isNewUser"
      [(ngModel)]="username"
      placeholder="Digite username">
    <input type="email" name="email"
      [(ngModel)]="email"
      placeholder="Digite email">
    <input type="password" name="password"
      [(ngModel)]="password"
      placeholder="Digite senha">
    <button type="submit" name="enter">
      {{ isNewUser ? 'Sign In' : 'Log In' }}
    </button>
    <h4 (click)="isNewUser = !isNewUser">
      {{ isNewUser ? 'Already have an Account? >> Log In' :
        'Not have any Account yet? >> Register' }}
    </h4>
  </form>
  <button (click)="login('git')">Entrar com GitHub</button>
</div>
