/* Login form styles */

.login {
  text-align: center;
  padding-top: 4rem;
}
form {
  width: 60%;
  margin-left: 20%;
  input {
    margin: 0 15%;
  }
  button {
    margin: 0 20%;
  }
  h4 {
    margin: 2%;
  }
}
