<nav class="navbar">
  <ul>
    <li routerLink="" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">Home</li>
    <li routerLink="/about" routerLinkActive="active">About</li>
    <ng-container *ngIf="logado | async as logado; else showLogin">
      <li routerLink="/{{ logado }}" routerLinkActive="active">
        {{ logado }}
      </li>
      <li (click)="user.Logout()" routerLinkActive="active">
        Log out
      </li>
    </ng-container>
    <ng-template #showLogin>
      <li (click)="openLogin('Log')"> Log In </li>
      <li (click)="openLogin('Sign')"> Sign In </li>
    </ng-template>
  </ul>
</nav>
<app-modal [display]="showLog"
  [showLogin]="showLog"
  [logType]="logType"
  (showH)="showLog = !showLog">
</app-modal>
