<app-navbar></app-navbar>
<div id="main">
  <div id="head">
    <p class="title">
      Welcome Dreamer
    </p>
    <p class="subtitle">
      - Don't let your dreams be dreams
    </p>
  </div>
  <div class="grid grid-pad">
    <div class="post c-7o12 m-1o1" *ngFor="let post of posts">
      <div class="blur"></div>
      <div class="text">
        <p class="author"> {{post.author}} </p>
        <p class="postText"> {{post.post}} </p>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
