/* Main page styles */
#main {
  width: 100%;
  margin: 0;
  background-color: #2e1015;
  padding-bottom: .5%;
}

#head {
  width: inherit;
  height: 70vh;
  background: url(https://i.pinimg.com/564x/26/94/f8/2694f861b9e3fa5cf6f3f4a6bb19f7b5.jpg) center no-repeat;
  color: white;
  text-align: justify;
  position: fixed;
  background-size: cover;
  -webkit-mask-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0) 85%);
  mask-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0) 100%);
  p {
    padding: 2% 5%;
    -webkit-filter: blur(0.8px) drop-shadow(0px 0px 30px rgba(255, 0, 0, 0.8));
    filter: blur(0.8px) drop-shadow(0px 0px 30px rgba(255, 0, 0, 0.8));
    color: #ff3333;
    font-weight: bold;
  }
  .title {
    font-size: 3rem;
    padding: 10vh 5% 0;
    animation: flicker 10s linear infinite;
  }
  .subtitle {
    font-size: 1.4rem;
  }
}
.grid {
  padding-top: 40vh;
}
.post {
  min-height: 20vh;
  border-radius: 3px;
  margin-bottom: 10px;
  position: relative;
  padding-right: 20px !important;
  .blur {
    background: url(https://i.pinimg.com/564x/26/94/f8/2694f861b9e3fa5cf6f3f4a6bb19f7b5.jpg);
    height: 96%;
    position: absolute;
    background-position: center;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    top: 2.7%;
    right: 0.5%;
    bottom: 5%;
    left: 0.6%;
    margin: 0;
    background-size: cover;
    width: 95%;
    max-width: 99%;
  }
  p {
    text-align: justify;
    padding: 4%;
  }
  .text {
    text-align: justify;
    position: relative;
    background: #222222;
    background: rgba(66, 13, 13, 0.75);
    border-radius: 2px;
    box-shadow: 5px 5px rgba(17, 17, 17, 0.8);
    min-height: inherit;
    color: white;
  }
  .author {
    font-size: 1.3rem;
    font-weight: 600;
    padding-bottom: 0;
  }
  .postText {
    font-size: 1rem;
    padding-top: 2%;
  }
}

@media handheld, only screen and (max-width: 767px) {
  .post {
    padding-right: 0px !important;
  }
  .blur {
    width: 100% !important;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: .9;
  }

  6% {
    opacity: .85;
  }

  8% {
    opacity: .95;
  }

  10% {
    opacity: .90;
  }

  11% {
    opacity: .922;
  }

  12% {
    opacity: .9;
  }

  14% {
    opacity: .95;
  }

  16% {
    opacity: .98;
  }

  17% {
    opacity: .9;
  }

  19% {
    opacity: .93;
  }

  20% {
    opacity: .99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: .94;
  }

  28% {
    opacity: .98;
  }

  37% {
    opacity: .93;
  }

  38% {
    opacity: .5;
  }

  39% {
    opacity: .96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: .97;
  }

  46% {
    opacity: .94;
  }

  56% {
    opacity: .9;
  }

  58% {
    opacity: .9;
  }

  60% {
    opacity: .99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: .9;
  }

  72% {
    opacity: .95;
  }

  93% {
    opacity: .93;
  }

  95% {
    opacity: .95;
  }

  97% {
    opacity: .93;
  }

  to {
    opacity: 1;
  }
}
