/* Main page styles */
#main {
  width: 101%;
  margin: 0;
  background-color: #2e1015;
  padding-bottom: .5%;
  color: white;
  text-align: justify;
  min-height: 99vh;
}

#head {
  width: inherit;
  height: 70vh;
  background: url(https://i.pinimg.com/564x/26/94/f8/2694f861b9e3fa5cf6f3f4a6bb19f7b5.jpg) center no-repeat;
  position: fixed;
  background-size: cover;
  -webkit-mask-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0) 85%);
  mask-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0) 85%);
  p {
    padding: 2% 5%;
    color: rgb(255, 66, 66);
    font-weight: bold;
    text-shadow: 0px 0px 70px rgba(255, 0, 0, 0.8), 0px 0px 40px rgba(255, 0, 0, 0.9), 0px 0px 30px rgba(255, 0, 0, 1);
  }
  .title {
    font-size: 3rem;
    padding: 10vh 5% 0;
    //animation: flicker 3s infinite;
  }
  .subtitle {
    font-size: 1.4rem;
  }
}
.grid {
  padding-top: 40vh;
}

@import '../shared/CSS/breakpoints';

@include for-phone {
  .title {
    font-size: 9vw !important;
  }
  .subtitle {
    font-size: 1rem !important;
  }
}

/*@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: .9;
  }

  6% {
    opacity: .85;
  }

  8% {
    opacity: .95;
  }

  10% {
    opacity: .90;
  }

  11% {
    opacity: .922;
  }

  12% {
    opacity: .9;
  }

  14% {
    opacity: .95;
  }

  16% {
    opacity: .98;
  }

  17% {
    opacity: .9;
  }

  19% {
    opacity: .93;
  }

  20% {
    opacity: .99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: .94;
  }

  28% {
    opacity: .98;
  }

  37% {
    opacity: .93;
  }

  38% {
    opacity: .5;
  }

  39% {
    opacity: .96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: .97;
  }

  46% {
    opacity: .94;
  }

  56% {
    opacity: .9;
  }

  58% {
    opacity: .9;
  }

  60% {
    opacity: .99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: .9;
  }

  72% {
    opacity: .95;
  }

  93% {
    opacity: .93;
  }

  95% {
    opacity: .95;
  }

  97% {
    opacity: .93;
  }

  to {
    opacity: 1;
  }
}*/
