<app-loading *ngIf="isDream" [loaded]="isLoad"></app-loading>
<app-navbar *ngIf="isDream"></app-navbar>
<div class="posts" [ngClass]="{ left: isMain, onePost: isDream }">
  <form *ngIf="User && !isDream" (ngSubmit)="onPost()" >
    <button type="button" (click)="writeNew()">Novo Post</button>
    <div *ngIf="newPost === 0">
      <input type="radio" name="rImg"
        *ngFor="let rdo of [0, 1, 2, 3, 4, 5, 6, 7]" (click)="newBack(rdo)">
      <button type="submit" name="enter">Cadastrar</button>
    </div>
  </form>
  <div class="grid grid-pad">
    <div class="post c-7o12 m-1o1" *ngFor="let dream of dreams;
      let i = index" [ngStyle]="{ opacity: isNew(i) ? 0.9 : 1 }">
      <div class="blur" [ngStyle]="{
        backgroundImage: 'url(' + post.imgs[dream?.img] + ')'
      }">
      </div>
      <div class="text" *ngIf="dream">
        <ng-container *ngIf="isDream && User === getAuthor(0)">
          <button [title]="post.btnEdit + ' Post'" (click)="editPost()">
            {{ post.btnEdit }}
          </button>
          <button title="Remover Post" (click)="delPost()">Deletar</button>
        </ng-container>
        <div *ngIf="isDream" class="dreamLvl"
          title="Mostre sua opinião geral sobre o sonho">
          <p>Grande Imaginação -> Será Realizado</p>
          <progress value='{{progress}}' max="20">
            {{ progress }}
          </progress>
          <input type="range" min="0" max="20" [(ngModel)]="coment.lvl"
            (change)="updateLvl()">
        </div>
        <img class="avatar" *ngIf="isDream && profile" [src]="profile.img">
        <p *ngIf="isDream" class="author img"
          (click)="goto('/' +getAuthor(i))">
          {{ getAuthor(i) }}:
        </p>
        <p *ngIf="!isDream" class="author"
          (click)="goto('/' +getAuthor(i))">{{ parseTitle(i) }}</p>
        <ng-container *ngIf="!isNew(i) && post.btnEdit !== 'Salvar';
          else postTxtA">
          <p class="author title" (click)="openPost(i)">
            {{ parseTitle(i, dream.title) }}
          </p>
          <p class="time">{{ dream.time }}</p>
          <p class="postText">{{ limitText(dream.text) }}</p>
        </ng-container>
        <ng-template #postTxtA>
          <input type="text" class="author title"
            [value]="parseTitle(i, dream.title)"
            placeholder="Entitule seu sonho"
            (input)="writeNew('title', $event)">
          <p class="time">{{ dream.time }}</p>
          <textarea class="postText" [value]="limitText(dream.text)"
            placeholder="Digite o que tens sonhado"
            (input)="writeNew('text', $event)">
          </textarea>
        </ng-template>
        <div *ngIf="!isNew(i)" [ngClass]="{ comment: isDream }">
          <form *ngIf="commenter" (ngSubmit)="onComment()">
            <textarea name="comment" class="newCom" [(ngModel)]="comment"
              placeholder="Digite algo gentil aqui"></textarea>
            <button type="reset" name="reset" title="Limpar Novo Comentário">
              Limpar
            </button>
            <button type="submit" name="enter" title="Cadastrar Novo Comentário">
              Comentar
            </button>
          </form>
          <p *ngIf="!isDream; else showCom">
            <ng-container *ngIf="of(comments, i) | async as com; else showDef">
              {{ coment.countComment(com) }}
            </ng-container>
            <ng-template #showDef> 0 comments </ng-template>
          </p>
          <ng-template #showCom>
            <div *ngFor="let com of (coment.show ? comments[1] : []);
                let i = index" class="showCom">
              <p class="cAuthor" (click)="goto('/'+com.author)">
                {{ com.author }}:
              </p>
              <div>
                <button [title]="coment.btnEdit[i] + ' Comentário'"
                  [value]="coment.btnEdit[i] || 'Editar'"
                  *ngIf="User === com.author"
                  (click)="editCom(i)">
                  {{ coment.btnEdit[i] || 'Editar' }}
                </button>
                <button *ngIf="User === com.author"
                  title="Remover Comentário"
                  (click)="delCom(i)">Deletar</button>
              </div>
              <p *ngIf="coment.btnEdit[i] !== 'Salvar'; else comTxtA"
                class="comParagraf">
                {{ com.text }}
              </p>
              <ng-template #comTxtA>
                <textarea [value]="com.text"
                  placeholder="Seja gentil"
                  (input)="coment.edited = $event.target.value">
                </textarea>
              </ng-template>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <app-footer *ngIf="isDream" class="footer"></app-footer>
  <app-modal
    [display]="showModal"
    [warning]="warModal"
    (showH)="resetModal()"
    (DelC)="Cdel !== null ? continueDelC() : continueDelP()"
    [showLogin]="showLog"
    logType="loginPost"
    (upLvl)="progress !== coment.lvl ? updateLvl() : onComment()">
  </app-modal>
</div>
