#posts {
  margin-top: 60vh;
  display: inline-block;
  color: white;
  text-align: justify;
  min-height: 30vh;
  &.left {
    margin-left: 10%;
    margin-top: 40vh;
    min-height: 50vh;
  }
  &.onePost {
    width: 100%;
    margin: 0;
    background: #464646;
    min-height: 100vh;
    .grid {
      margin: 0;
      max-width: 100%;
      margin-top: 2.2rem;
    }
    .post {
      width: 100% !important;
      height: 85vh !important;
      text-align: justify;
      cursor: initial;
    }
    .blur {
      top: 0%;
      right: 0%;
      left: 0%;
      height: 100%;
      width: 99%;
    }
    .text {
      height: 100%;
      width: 100%;
      overflow: hidden auto;
      padding: 0px;
      padding-right: 5px;
    }
    .author {
      margin: 15px 0 10px 6%;
      &.img {
        margin: 80px 0 50px 0;
        font-size: 2rem;
      }
    }
    p {
      width: auto;
      margin-left: 6%;
    }
    .postText, .comment {
      float: left;
    }
    .postText {
      line-height: 1.7rem;
      padding-right: 0;
      padding-top: 0;
      margin: 0 0 0 7%;
      width: 50%;
      min-height: 50%;
      text-align: justify;
    }
    .comment {
      width: 40%;
      min-height: 50%;
      margin-left: 2%;
    }
    .showCom {
      width: 90%;
    }
    .time {
      padding-bottom: 1%;
      padding-top: 1%;
      width: 40%;
    }
    .showCom {
      height: 2rem;
      margin-left: 6%;
      p {
        float: left;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
      }
    }
    #footer {
      position: fixed;
      width: 100%;
    }
    input, button, input::placeholder {
      color: white;
      font-family: inherit;
      font-size: 1rem;
    }
    form {
      width: 40%;
      min-height: 50%;
      input {
        width: 90%;
        height: 1.5rem;
        border: 0;
        background: transparent;
      }
    }
    button {
      background: rgba(31, 31, 31, 0.4);
      border: 1px solid #8c0000;
      cursor: pointer;
    }
    #avatar {
      height: 120px;
      width: 120px;
      border-radius: 100%;
      margin: 40px 0 0 60px;
      float: left;
      background-position: center;
      background-size: 100%;
    }
    .dreamLvl {
      height: 50%;
      width: 100px;
      position: fixed;
      margin-top: 350px;
      left: -60px;
      input, progress {
        transform: rotate(-90deg);
        margin: 0;
        width: 300px;
        height: 15px;
        right: -180px;
        top: 10px;
        position: absolute;
        background: darkred;
      }
      input {
        height: 0px;
        margin-top: 8px;
      }
      p {
        transform: rotate(-90deg);
        margin-left: -150px;
        width: 500px;
        letter-spacing: 3px;
        text-align: center;
        font-weight: 600;
        color: #d4d4d4;
      }
    }
  }
}

.post {
  height: 200px;
  border-radius: 3px;
  margin-bottom: 10px;
  position: relative;
  padding-right: 20px !important;
  cursor: pointer;
  .blur {
    background: url(https://i.pinimg.com/564x/26/94/f8/2694f86….jpg);
    position: absolute;
    background-position: center;
    filter: blur(3px);
    top: 1.1%;
    left: 0.5%;
    background-size: cover;
    height: 195px;
    width: 96.4%;
  }
  p {
    padding: 15px 0;
  }
  .text {
    position: relative;
    background: rgba(66, 13, 13, 0.75);
    border-radius: inherit;
    box-shadow: 5px 5px rgba(17, 17, 17, 0.8);
    height: 165px;
    padding: 15px;
    div {
      float: left;
      width: 100%;
    }
  }
  .author {
    font-size: 1.3rem;
    font-weight: 600;
    padding-bottom: 0;
    width: auto;
    padding: 0;
  }
  input.author {
    width: 75%;
  }
  .time {
    font-size: 0.9rem;
    width: 100%;
  }
  .postText {
    font-size: 1rem;
    padding-top: 1%;
    width: 100%;
    resize: none;
  }
  input, textarea {
    border: 0;
    background: transparent;
    color: white;
    font-family: inherit;
    caret-color: white;
  }
  input, p, textarea {
    float: left;
  }
}

@media handheld, only screen and (max-width: 767px) {
  .post {
    padding-right: 0px !important;
  }
  .blur {
    width: 100% !important;
  }
}
