<app-navbar *ngIf="isDream"></app-navbar>
<div id="posts" [ngClass]="{ left: isMain, onePost: isDream }">
  <form *ngIf="User && !isDream" (ngSubmit)="onPost()" >
    <button type="button" (click)="writeNew()">Novo Post</button>
    <div *ngIf="newPost === 0">
      <input type="radio" name="rImg"
        *ngFor="let rdo of [0, 1, 2]" (click)="newBack(rdo)">
      <button type="submit" name="enter">Cadastrar</button>
    </div>
  </form>
  <div class="grid grid-pad">
    <div class="post c-7o12 m-1o1" *ngFor="let dream of dreams;
      let i = index" [ngStyle]="{ opacity: isNew(i) ? 0.9 : 1 }"
      (click)="openPost(i)">
      <div class="blur" [ngStyle]="{
        backgroundImage: 'url(' + post.imgs[dream.img] + ')'
      }">
      </div>
      <div class="text">
        <div *ngIf="isDream" class="dreamLvl">
          <p>Great Imagination - Will Be Realised</p>
          <progress value='{{progress}}' max="20">
            {{ progress }}
          </progress>
          <input type="range" min="0" max="20" [(ngModel)]="lvl"
            (change)="coment.updateLvl(id)">
        </div>
        <div id="avatar" *ngIf="isDream && profile"
          [ngStyle]="{ backgroundImage: 'url(' + profile.img + ')' }">
        </div>
        <p *ngIf="isDream" class="author img">
          - {{ getAuthor(i) }}
        </p>
        <p *ngIf="!isDream" class="author">{{ parseTitle(i) }}</p>
        <input type="text" class="author" [value]="parseTitle(i, dream.title)"
          placeholder="Entitule seu sonho"
          [disabled]="!isNew(i) && post.btnEdit !== 'Salvar'"
          (input)="writeNew('title', $event)">
        <p class="time">
          {{ dream.time }}
        </p>
        <textarea class="postText" [value]="limitText(dream.text)"
          placeholder="Digite o que tens sonhado"
          [disabled]="!isNew(i) && post.btnEdit !== 'Salvar'"
          (input)="writeNew('text', $event)">
        </textarea>
        <div *ngIf="!isNew(i)" [ngClass]="{ comment: isDream }">
          <form *ngIf="commenter" (ngSubmit)="onComment()">
            <input name="comment" [(ngModel)]="comment"
              placeholder="Digite algo gentil aqui">
            <button type="reset" name="reset">Limpar</button>
            <button type="submit" name="enter">Cadastrar</button>
          </form>
          <p *ngIf="!isDream; else showCom">
            <ng-container *ngIf="of(comments, i) | async as com; else showDef">
              {{ coment.countComment(com) }}
            </ng-container>
            <ng-template #showDef> 0 comments </ng-template>
          </p>
          <ng-template #showCom>
            <ng-container *ngIf="User === getAuthor(0)">
              <button (click)="editPost()">
                {{ post.btnEdit }}
              </button>
              <button (click)="delPost()">Deletar</button>
            </ng-container>
            <div *ngFor="let com of (coment.show ? comments[1] : []);
                let i = index" class="showCom">
              <p> {{ com.author }} -> </p>
              <input type="text" [value]="com.text"
                placeholder="Seja gentil"
                (input)="coment.edited = $event.target.value"
                [disabled]="coment.btnEdit[i] !== 'Salvar'">
              <input type="button" [value]="coment.btnEdit[i] || 'Editar'"
                *ngIf="User === com.author"
                (click)="editCom(i)">
              <input type="button" value="Deletar"
                *ngIf="User === com.author"
                (click)="delCom(i)">
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <app-footer *ngIf="isDream" id="footer"></app-footer>
</div>
