<div id="background">
  <app-navbar></app-navbar>
  <div id="header">
    <div id="avatar"></div>
    <div id="data" *ngIf="profile">
      <p id="username" >
        Welcome to My World - {{ usua }}
      </p>
      <p id="line-info">
        {{ profile.description }}
      </p>
      <p id="bio"> {{ profile.bio }}
        Guilherme, aka GuiDevloper a pragmatic and passionate coder and sometimes designer, thats loves every moment creating and developing things, including himself.
      </p>
    </div>
  </div>
  <app-posts></app-posts>
</div>
