<div id="background">
  <app-navbar></app-navbar>
  <div id="header" *ngIf="profile">
    <div id="avatar" [ngStyle]="{
      backgroundImage: 'url('+profile.img+')'}"></div>
    <div id="data">
      <!--Welcome to My World -->
      <input type="text" [(ngModel)]="usua"
        [disabled]="!update" id="username">
      <input type="text" id="line-info"
        [(ngModel)]="profile.description" [disabled]="!update">
      <textarea type="text" [(ngModel)]="profile.bio"
        id="bio" [disabled]="!update">
      </textarea>
      <input type="text" [(ngModel)]="profile.img"
        *ngIf="update" id="imgUrl">
    </div>
    <div *ngIf="myProfile">
      <button (click)="update = true" *ngIf="!update">
        Editar Profile
      </button>
      <button (click)="editProfile()" *ngIf="update">
        Salvar Profile
      </button>
    </div>
  </div>
  <app-posts></app-posts>
</div>
