<app-loading [loaded]="loaded"></app-loading>
<div id="background">
  <app-navbar></app-navbar>
  <div id="header" *ngIf="profile">
    <img class="avatar" *ngIf="profile.img" [src]="profile.img">
    <img class="avatar" *ngIf="!profile.img"
      style="background: rgba(255, 255, 255, 0.1)">
    <div class="data">
      <!--Welcome to My World -->
      <ng-container *ngIf="!update; else ProfileTxtA">
        <p class="username">{{ profile.username }}</p>
        <p class="line-info">{{ profile.description }}</p>
        <p class="bio">{{ profile.bio }}</p>
      </ng-container>
      <ng-template #ProfileTxtA>
        <input type="text" class="username"
          [ngClass]="{ invalid: inUser }"
          (input)="testUser()"
          [(ngModel)]="profile.username"
          placeholder="Username">
        <input type="text" class="line-info"
          [(ngModel)]="profile.description" maxlength="40"
          placeholder="Line of info">
        <textarea class="bio" [(ngModel)]="profile.bio"
          maxlength="200" placeholder="Biography">
        </textarea>
        <input type="text" class="imgUrl"
          [(ngModel)]="profile.img"
          placeholder="Avatar Image Url">
      </ng-template>
    </div>
    <ng-container *ngIf="myProfile">
      <button *ngIf="!update" (click)="update = true">
        Editar Profile
      </button>
      <button *ngIf="update" (click)="editProfile()">
        Salvar Profile
      </button>
    </ng-container>
  </div>
  <app-posts></app-posts>
  <app-modal
    [display]="showModal"
    [warning]="warModal"
    (showH)="showModal = !showModal">
  </app-modal>
</div>
