/* Profile styles */

#background {
  background-color: #404040;
  width: 100%;
  min-height: 100vh;
  background: url(https://i.pinimg.com/564x/55/23/59/552359232b495740c7a221538bd3d23b.jpg);
}

#header {
  height: 400px;
  width: 94%;
  margin: 55px 3%;
  background: url('../../assets/svg/back-profile.svg') no-repeat;
  background-color: rgba(25, 28, 76, 0.5);
  background-position: left -20vh center;
  background-size: contain;
  box-shadow: -10px 0px 20px 0px rgba(25, 28, 76, 0.8), 9px 3px 20px 4px rgba(25, 28, 76, 0.3);
  position: absolute;
  border-radius: 50px;
}

#avatar {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  margin: 40px 0 40px 60px;
  float: left;
  background-position: center;
  background-size: 100%;
}

$yellow: #FFEB3B;
#data {
  padding: 40px;
  color: $yellow;
  p, textarea, input {
    font-weight: bold;
    text-align: justify;
    float: left;
    color: inherit;
    background: transparent;
    border: 0;
    font-family: inherit;
    font-weight: 600;
    text-shadow: 0px 0px 10px $yellow;
  }
}

#username {
  padding: 15px 20px;
  font-size: 2rem;
  width: 60%;
  color: rgb(255, 66, 66) !important;
  text-shadow: 0px 0px 20px rgba(255, 0, 0, 0.8) !important;
}

#line-info,
#bio,
#imgUrl {
  font-size: 1.1rem;
  float: left;
}

#line-info {
  padding: 0 0 0 20px;
  width: 60%;
  color: gold;
}

#bio, #imgUrl {
  width: 50%;
  position: absolute;
  top: 45%;
  left: 5%;
  height: 20%;
  resize: none;
}
#imgUrl {
  top: 70%;
  height: auto;
}

button {
  cursor: pointer;
  background: rgba(31, 31, 31, 0.4);
  border: 1px solid #240c75;
  color: white;
  font-size: 0.8rem;
  font-family: inherit;
  font-weight: 600;
}

.invalid {
  border: 2px solid #F44336 !important;
  border-radius: 5px;
}

@import '../shared/CSS/breakpoints';

@include for-tablet-portrait {
  #avatar {
    margin-left: 40px;
  }
  #data {
    #line-info {
      width: 70%;
    }
    textarea {
      width: 90%;
      height: 40%;
    }
  }
  button {
    margin: 220px 0 0 35%;
  }
  #line-info, #bio, #imgUrl {
    font-size: 0.9rem;
  }
  #imgUrl {
    margin-top: 70px;
  }
}
