/* Rodape styles */
footer {
  bottom: 0;
  padding: 0 5% 0px;
}
footer div {
  border-radius: 4px;
  background-color: rgba(62, 39, 35, 0.3);
  margin: 0;
}
p {
  padding: 1vh;
  text-align: center;
}
